#bg-image-container {
  max-width: 1024px;
  margin:  0;
  //padding: 0 10.8%;
  position: absolute;
}
#body-overlay {
  position: relative;
  z-index: 999;
}

/******* global styles *******/
  .case-study-button {
    background-color: #db372f;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 6px;
    text-decoration: none;
  }
  .case-study-button:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .gray-button {
    background-color: #666666;
    color: #ffffff;
    padding: 10px 35px;
    margin-top: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 10px;
  }
  .gray-button:hover {
    color: #ffffff;
    text-decoration: none;
  }

/******* NAVBAR *******/
  .navbar {
    .brand {
      padding: 0 !important;
      margin-left: 50px !important;
    }

    .nav {
      float: right !important;

      & > li {
        background: none !important;
        font-family: "Helvetica Neue" !important;
        font-size: 15px !important;
        list-style: none !important;
        margin: 0 0 10px 5px !important;

        & > a {
          color: #666666 !important;
          font-family: Arial;
          text-shadow: none !important;
          text-transform: uppercase !important;
        }
      }
    }


    .navbar-inner {
      background: none;
      border: none;
      box-shadow: none !important;

      .navbar-bg {
        position: absolute !important;
        width: 100% !important;
        height: 96px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0.75) 84%, rgba(255,255,255,0.32) 92%, rgba(255,255,255,0) 98%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(84%,rgba(255,255,255,0.75)), color-stop(92%,rgba(255,255,255,0.32)), color-stop(98%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.75) 84%,rgba(255,255,255,0.32) 92%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0.75) 84%,rgba(255,255,255,0.32) 92%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0.75) 84%,rgba(255,255,255,0.32) 92%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0.75) 84%,rgba(255,255,255,0.32) 92%,rgba(255,255,255,0) 98%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

      }

      .nav-container {
        float: right;
        width: 100%;
        position: absolute;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .tagline {
        font-weight: bold;
        font-size: 16px;
        padding-left: 10px;
        vertical-align: bottom;
      }
    }
  }

  nav {
    margin-top: 10px;
  }


/*******  SLIDE CONTAINER **********/
  #slide-container {
    //height: 651px;
    width: 1024px;
    position: relative;
    background-repeat: no-repeat;

    .slide {
      /* css for slide desc */
      .desc {
        background: none;
        color: #000000;
        float: right;
        padding: 10px;
        height: 382px;
        width: 400px;
        margin-top: 50px;
      }
      /* slide img positioning */
      img {
        //height: 404px;
        //width: 515px;
        position: absolute;
        top: 60px;
        left: 177px;
      }
    }
  }

/*******  OVERRIDES **********/
article > header { display: none !important; }
body {
  padding: 0 !important;
}

.thumbFeatures {
  .jshowoff-slidelinks-bg {
    bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
    height: 76px;
    background-color: #000000;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
  }
  .jshowoff-slidelinks {
    bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
    padding: 0 5px;

    a {
      background-position: center;
      background-color: transparent !important;
      border: #000000 !important;
    }
    a.jshowoff-active {
      border-bottom: 3px solid #df1910 !important;
    }
  }

  div.jshowoff-controls {
    top: 22% !important;
    position: absolute !important;
    width: 100% !important;

    #carousel-nav-left {
     /* width: 50px;
      height: 50px;
      padding-left: 10px;

      .background {
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 25%, rgba(255,255,255,0) 75%); *//* FF3.6+ *//*
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0))); *//* Chrome,Safari4+ *//*
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* Chrome10+,Safari5.1+ *//*
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* Opera 12+ *//*
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* IE10+ *//*
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); *//* IE6-9 fallback on horizontal gradient *//*

        -webkit-border-radius: 999px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 999px;
        -moz-background-clip: padding;
        border-radius: 999px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      .arrow {
        background: url("../../images/carousel-nav-arrow-left.png");
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10px;
      }*/
    }

    #carousel-nav-right {
     /* width: 50px;
      height: 50px;
      padding-right: 10px;

      .background {
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 25%, rgba(255,255,255,0) 75%); *//* FF3.6+ *//*
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0))); *//* Chrome,Safari4+ *//*
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* Chrome10+,Safari5.1+ *//*
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* Opera 12+ *//*
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.7) 25%,rgba(255,255,255,0) 75%); *//* IE10+ *//*
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); *//* IE6-9 fallback on horizontal gradient *//*

        -webkit-border-radius: 999px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 999px;
        -moz-background-clip: padding;
        border-radius: 999px;
        width: 50px;
        height: 50px;
        position: absolute;
      }
      .arrow {
        background: url("../../images/carousel-nav-arrow-right.png");
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10px;
      }*/
    }
  }
}



/*********** CASE STUDY CAROUSEL ************/
#caseCarousel {
  .case-carousel-control.left {
    background: none;
    background-image: url("../../images/case-carousel-nav-arrow-left.png");
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 53px;
    left: auto;
    right: 199px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 190px;
  }


  .case-carousel-control.right {
    background: none;
    background-image: url("../../images/case-carousel-nav-arrow-right.png");
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 53px;
    left: auto;
    right: 0;
    line-height: 30px;
    margin-top: -20px;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 197px;
  }



  #case-Content {

    .case-title {
      font-size: 36px;
    }
    .sub-title {
      color: #df1910;
      font-size: 14px;
    }
    .case-content {
      margin-top: 30px;
      font-size: 14px;
    }
  }
}

/****** HOME PAGE BOTTOM CONTENT ******/
  .about-us-excerpt p {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 20px;
  }

  .display-posts-listing {
    font-size: 10px;

    .title,.date {
      display: table-cell;
    }
    .title {
      color: #333333;
      font-weight: bold;
    }
    .date {
      padding-left: 5px;
      color: #df1910;
    }
    .excerpt-dash {
      display: none;
    }
    .listing-item {
      margin-bottom: 20px;
      line-height: 15px;
    }
  }