#body-container {
  background-repeat: no-repeat;
  max-width: 1296px;
  padding: 0;
}


.navbar {
  .nav {
    float: right !important;

    & > li {
      background: #04C0CC !important;
      font-family: "Helvetica Neue" !important;
      font-size: 18px !important;
      list-style: none !important;
      margin: 0 0 10px 5px !important;

      & > a {
        color: #ffffff !important;
        text-shadow: none !important;
      }
    }
  }

  .navbar-inner {
    background: none;
    border: none;
    box-shadow: none !important;
  }
}

/*******  OVERRIDES **********/
article > header { display: none !important; }
body {
  background: #000000 !important;
  padding: 0 !important;
}



.navbar-fixed-top {
  position: static !important;
}


.thumbFeatures {
  p.jshowoff-controls {
    top: 32% !important;

    .jshowoff-next {
      background: url('../../images/carousel-nav-arrow-right.png') no-repeat;
      height: 32px;
      width: 32px;

      &:before{
        content: "";
        display: block;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjOTk5OTk5IiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
        background-image: -moz-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: -webkit-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: -o-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: radial-gradient(ellipse at center, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
        -webkit-border-radius: 999px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 999px;
        -moz-background-clip: padding;
        border-radius: 999px;
        background-clip: padding-box;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -9px;
        left: -9px;
      }
    }
    .jshowoff-prev {
      background: url('../../images/carousel-nav-arrow-left.png') no-repeat;
      height: 32px;
      width: 32px;

      &:before{
        content: "";
        display: block;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48cmFkaWFsR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjeD0iNTAlIiBjeT0iNTAlIiByPSI3NSUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMjclIiBzdG9wLWNvbG9yPSIjOTk5OTk5IiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
        background-image: -moz-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: -webkit-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: -o-radial-gradient(center, ellipse, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        background-image: radial-gradient(ellipse at center, #333333 0%,#999999 27%,#dddddd 49%,#ffffff 67%);
        -webkit-opacity: 0.5;
        -moz-opacity: 0.5;
        opacity: 0.5;
        -webkit-border-radius: 999px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 999px;
        -moz-background-clip: padding;
        border-radius: 999px;
        background-clip: padding-box;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -9px;
        left: -9px;
      }
    }
  }
}